WATCHTOWER_SCHEDULE="0 3 * * *"

# Caddy Server
CADDY_DNS_EMAIL="CHANGE_ME"
CADDY_DOMAIN="CHANGE_ME"

# CF DNS
CF_AUTH_TOKEN="CHANGE_ME"

# Cameras
FRIGATE_RTSP_USER="CHANGE_ME"
FRIGATE_RTSP_PASSWORD="CHANGE_ME"
FRIGATE_CAM_DOMAIN="CHANGE_ME"

# MQTT (Frigate Events)
FRIGATE_MQTT_USER="CHANGE_ME"
FRIGATE_MQTT_PASSWORD="CHANGE_ME"

# Frigate+ sub API key
PLUS_API_KEY="CHANGE_ME"
