{
  order authenticate before respond
  order authorize before reverse_proxy

  acme_dns digitalocean {env.DO_AUTH_TOKEN}
}

frigate.{$CADDY_DOMAIN} {
  encode gzip

  import auth

  respond /caddy-health-check 200

  rewrite /cockpit /cockpit/

  reverse_proxy /cockpit/* https://host.docker.internal:9090 {
    transport http {
      tls_insecure_skip_verify
    }
  }

  reverse_proxy {$CADDY_PROXY_UPSTREAM}
}

scrypted.{$CADDY_DOMAIN} {
  encode gzip

  import auth

  reverse_proxy https://host.docker.internal:10443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
